<script type="text/javascript">
  angular.module('pencilblueApp')
    .controller('MatchController', function($scope, $sce, $http) {
    ^angular_objects^

    // Set default value for statistics type
    $scope.statType = "goal";

    // Add new statistics
    $scope.addStat = function() {
      const newStat = {
        "type": $scope.statType,
        "time": $scope.statTime,
        "matchId": $scope.selected._id,
        "playerId": $scope.player._id,
        "playerName": $scope.player.name
      };
      // TODO send to server
      $http.post("/club-manager/api/stats", newStat)
        .then(
          function(response) {
            $scope.selected.stats.push(newStat);
         } 
        );
    };
  });
</script>

