^tmp_admin=head^
<div class="col-md-9">
    ^tmp_admin=elements=error_success^
    ^tmp_admin=elements=sub_nav^
    ^tmp_admin=elements=tab_nav^
</div>
^angular^
<div class="tab-content">
  <div class="tab-pane" id="teams">
    <h3>Teams</h3> 
  </div>
  <div class="tab-pane" id="players">
    <h3>Players</h3> 
  </div>
  <div class="tab-pane" id="seasons">
    <h2>Seasons</h2> 
  </div>    
  <div class="tab-pane active" id="matches">
    ^tmp_admin=match_report^
  </div>
</div>
^tmp_admin=footer^
