<form name="statControls">
<div class="form-group">
  <!-- Select stat type -->
  <select name="statType" ng-model="statType" class="form-control">
    <option value="goal">Goal</option>
    <option value="assist">Assist</option>
    <option value="booking">Booking</option>
  </select>
  <input type="text" name="statTime" ng-model="statTime" ng-pattern="statTimeRegex" class="form-control" placeholder="Game time in minutes. For example 20 or 45+2">
  <!-- select player -->
  <input type="text" ng-model="player" uib-typeahead="player as player.name for player in selected.players | filter:$viewValue | limitTo:8" placeholder="Type player name" class="form-control">
  <!-- input options based on stat type -->
  <button type="button" class="btn-block" ng-click="addStat()">Add statistics</button>
</div>
</form>
