<form name="statControls">
<div class="form-group">
  <!-- Select stat type -->
  <div class="btn-group">
    <label class="btn btn-success" ng-model="statType" uib-btn-radio="'goal'">Goal</label>
    <label class="btn btn-warning" ng-model="statType" uib-btn-radio="'warning'">Warning</label>
    <label class="btn btn-danger" ng-model="statType" uib-btn-radio="'penalty'">Penalty</label>
  </div>

  <!-- Goal controls -->
  <input type="text" name="statTime" ng-model="statTime" ng-pattern="statTimeRegex" class="form-control" placeholder="Game time in minutes. For example 20 or 45+2"></input>
  <!-- select player -->
  <input type="text" ng-model="player" uib-typeahead="player as player.name for player in selected.players | filter:$viewValue | limitTo:8" placeholder="Type player name" class="form-control"></input>
  <button type="button" ng-disabled="statControls.$invalid" class="btn-block" ng-click="addGoal()">Add {{statType}}</button>
</div>
</form>
